#body {
    background-color: #DFDFDF;
	display: none;
}

#left
{
	width: 67.5%;
	height: 100%;
	float: left;
}

#right
{
	width: 25%;
	height: 100%;
	float: left;
	background-color: black;
}

#soc
{
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
	height: 100%;;
}

#chart
{
    margin: 0 auto;
}

.chartTitle
{
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

#class
{
	font-size: 46px;
}
#subtext
{
	font-size: 32px;
}


.UI
{
	display: block;
	margin: 8px auto;
	width: 140px;
	text-align: center;
}

.selector
{
	
}

#yearSelect
{

}

#termSelect
{

}

#courseCodeInput
{
	width: 125px;
}

#submit
{
	display: block;
}

